

h1 {
    text-align: center;
    color: hsl(260, 100%, 50%);
}

h2 {
    color: lightgreen
}

body {
    background-color: cyan;
}

a {
    color: pink;
    text-decoration: none;
}

.favorite-image {
    border: red 20px dashed;
    opacity: 0.8;
    filter: contrast(20000%)
}

#favorite-music-artist-name {
    color: brown;
    font-weight: bold;
}

#most-favorite-food {
    font-size: 100px;
    color: white;
}

#favorite-movie-title {
    color: red;
    font-style: italic;
}
#table-header {
    color: magenta;
}
#table {
    border: green 2px solid;
    text-align: left;
    margin: 4px;
}
.favorite-section {
    font-size: 24px;
}
.row-1 {
    border-right: green 2px solid;
    padding: 4px;
}
.row-2 {
    border-right: green 2px solid;
    padding: 4px;
}
.row-3 {
    padding: 4px;
}
